<app-navbar />

<section class="forum">
  <h1>Community Forum</h1>
  <button class="btn">Start a New Discussion</button>

  <div class="discussion-list">
    <div class="discussion">Innovative Solutions for Plastic Waste in Oceans</div>
    <div class="discussion">Community Gardens: Cultivating Sustainability</div>
    <div class="discussion">The Impact of Fast Fashion</div>
    <div class="discussion">Renewable Energy Adoption</div>
    <div class="discussion">Sustainable Urban Living</div>
  </div>
</section>
